<main class="auth-form">
  <h2 class="auth-form__title">Вход</h2>
  <form class="auth-form__form" novalidate>
    {{{loginInput}}}
    {{{passwordInput}}}
    {{{submitButton}}}
    {{{registerButton}}}
  </form>
</main>
