<main class="register-form">
  <h2 class="register-form__title">Регистрация</h2>
  <form class="register-form__form" novalidate>
    <div class="register-form__input-wrapper">
      {{> register-form/__input/register-form__input name="first_name" label="Имя" }}
    </div>
    <div class="register-form__input-wrapper">
      {{> register-form/__input/register-form__input name="second_name" label="Фамилия" }}
    </div>
    <div class="register-form__input-wrapper">
      {{> register-form/__input/register-form__input name="login" label="Логин" }}
    </div>
    <div class="register-form__input-wrapper">
      {{> register-form/__input/register-form__input name="email" label="Email" }}
    </div>
    <div class="register-form__input-wrapper">
      {{> register-form/__input/register-form__input name="phone" label="Телефон" }}
    </div>
    <div class="register-form__input-wrapper">
      {{> register-form/__input/register-form__input name="password" label="Пароль" type="password" }}
    </div>
    <div class="register-form__input-wrapper">
      {{> register-form/__input/register-form__input name="confirm_password" label="Подтверждение пароля" type="password" }}
    </div>
    <button type="submit" class="register-form__button">ЗАРЕГИСТРИРОВАТЬСЯ</button>
    <button type="button" class="register-form__link register-form__link--login">Войти</button>
  </form>
</main>