<main class="chat-page">
  <aside class="chat-sidebar">
    {{> chat-page/__header/chat-page__header }}
    {{> chat-page/__sidebar/__search/chat-page__sidebar-search }}

    <button type="button" class="chat-sidebar__new-chat" data-action="new-chat">+ Новый чат</button>
    <ul class="chat-sidebar__list"></ul>
  </aside>

  <main class="chat-main">
    <div class="chat-content">
      {{> chat-page/__content/__empty-state/chat-page__content-empty }}
    </div>
  </main>
</main>