<main class="settings-links">
  <button
    class="settings-links__link settings-links__link--edit"
    data-action="edit-data"
  >
    Изменить данные
  </button>
  <button
    class="settings-links__link settings-links__link--password"
    data-action="edit-password"
  >
    Изменить пароль
  </button>
  <button
    class="settings-links__link settings-links__link--logout"
    data-action="logout"
  >
    Выйти
  </button>
</main>
