<div class="auth-form">
  <h2 class="auth-form__title">Вход</h2>
  <form class="auth-form__form" novalidate>
    <div class="auth-form__input-wrapper">
      {{> auth-form/__input/auth-form__input name="login" label="Логин" value="" }}
    </div>
    <div class="auth-form__input-wrapper">
      {{> auth-form/__input/auth-form__input name="password" label="Пароль" type="password" value="" }}
    </div>
    <button type="submit" class="auth-form__button">Авторизоваться</button>
    <button type="button" class="auth-form__link auth-form__link--register">Регистрация</button>
  </form>
</div>