@use "./__input/auth-form__input.scss";
@use "./__button/auth-form__button.scss";
@use "./__link/auth-form__link.scss";
@use "../../assets/scss/variables" as *;

.auth-form {
  background: $color-bg-card;
  border-radius: $border-radius-md;
  box-shadow: $shadow-card;
  padding: $spacing-xl;
  width: 100%;
  max-width: 360px;

  &__title {
    font-size: $font-size-xl;
    font-weight: 600;
    text-align: center;
    margin-bottom: $spacing-lg;
    color: $color-text;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }
}
