<div class="register-form__input-wrapper">
  <label class="register-form__input-label">{{label}}</label>
  <input class="register-form__input" name="{{name}}" type="{{type}}" value="{{value}}">
  <span class="register-form__input-error"></span>
</div>