<main class="settings-avatar">
  <div class="settings-avatar__wrapper">
    <img
      src="{{avatar}}"
      alt="{{display_name}}"
      class="settings-avatar__image"
    />
    <div class="settings-avatar__overlay">
      <span>Поменять аватар</span>
    </div>
  </div>
  <h2 class="settings-avatar__name">{{display_name}}</h2>
</main>
