@use '../../../assets/scss/variables' as *;

.register-form__link {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  text-align: center;
  color: $color-primary;
  text-decoration: none;
  font-size: $font-size-sm;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  &--login {
    margin-top: $spacing-sm;
  }
}